.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-color: #222;
  padding: 20px;
  color: white;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #222;
  text-align: center;
  color: white;
}
.content-area{
  color: darkblue;
}
.menu{

  float: right;
  padding-right: 20px;

}
.a{
  padding: 5px 10px 5px 5px;
  text-decoration: none;
  color: white;

}
.a:hover{
  color: blue;
}
.post{
  color: white;
}